#root {
  width: 100%;
  max-width: 100%;
  padding: 2rem;
  text-align: center;
  margin: auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

div.App {
  width: 100%;
}

div.ProgramSelector {
  background-color: #555;
  border-radius: 10px;
  display: flex;
  padding: 10px;
  gap: 10px;
}

div.ProgramSelector > * {
  flex: 1 1 auto;
  min-width: 100px;
}

div.ProgramSelector > div.display {
  padding: 5px;
}

div.ProgramSelector > button {
  padding: 5px;
  font-size: 3em;
}

div.BypassSwitch {
  padding-top: 20px;
  padding-bottom: 20px;
}

div.MixSlider {
  padding-top: 20px;
  padding-bottom: 20px;
}
div.MixSlider > input {
  width: 100%;
}

div.EffectSelector {
  padding-top: 20px;
  padding-bottom: 20px;
}
div.EffectSelector select {
  font-family: Consolas, monospace;
  font-size: 1.5em;
}

div.EffectPanel {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

div.Param {
  background-color: #333;
  border-radius: 5px;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

/* Specific effect types */
div.EffectPanel.Reverb {
  background-color: #124;
  border: 2px solid #248;
  border-radius: 5px;
  padding: 15px;
}

div.EffectPanel.Reverb div.Param {
  background-color: #153060;
}

div.EffectPanel.Reverb input {
  background-color: #102040;
  border: 2px solid #248;
  text-align: center;
}